<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/estilosIndex.css">
    <title>Calculo de compras</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2 class="centered-text">Calculo de compras</h2>
            <form method="POST">
                <div><label for="nombre">Ingresa tu nombre:</label></div>
                <div><input type="text" name="nombre" value={{nombreInput}}><br></div>
                <div><label for="edad">Ingresa tu edad:</label></div>
                <div><input type="text" name="edad" value={{edadInput}}><br></div>
                <div><label for="pinturas">Ingresa la cantidad de tarros de pintura a comprar:</label></div>
                <div><input type="text" name="pinturas" value={{pinturasInput}}><br></div>
                <input class="button" type="submit" value="Calcular">
            </form>
                <div >
                    <div><label>{{clienteInput}}</label></div>
                    <div><label>{{totalInput}}</label></div>
                    <div><label>{{descuentoInput}}</label></div>
                    <div><label>{{totaldescInput}}</label></div>
                </div>
        </div>


    </div>
</body>
</html>